.CircleContainer {
  width: 360px;
  height: 360px;
}

.LabelContainer {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  font-size: 36px;
}

.CircleAndLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BarProgress {
  width: 600px;
  height: 36px;
}

.BarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
